@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap'); 

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family:  'Poppins', sans-serif;
  background: url(https://images.unsplash.com/photo-1621704161179-ff6628e04f2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3Vuc2V0JTIwY2xvdWR8ZW58MHx8MHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container{
  padding:20px 70px;
 color:#fff;
 
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  font-weight: 100;
  
}

.date-container .time {
  font-size: 70px;
  
}

.date-container #am-pm {
  font-size: 30px;
  margin-left:20px;
}

.date-container .date {
  font-size: 30px;
}
.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 100;
}

.place-container .country {
  font-size: 12px;
  font-weight: 700;
}

#map {
  width: 100%;
  height: 100%;
  background-color: grey;
}

#borda{
  width:900px;
  height: 700px;
  border-style: solid;
  margin: 0px 65px 0px;
}